* {
  box-sizing: border-box;
}
body {
  background-color: #000000;
  color: #ffffff;
}
.header {
  background-image: url("chopsticks.jpg");
  background-position: right 60% bottom 65%;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  margin-bottom: 80px;
  padding: 120px;
  text-align: center;
}
nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}
.navbar-brand {
  font-size: 30px;
  margin: -90px;
  margin-top: -300px;
}
ul {
  margin: -90px;
  margin-top: -300px;
}
li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
  margin-top: 0px !important;
}
li a {
  color: white !important;
  text-decoration: none !important;
}
a:hover {
  color: grey !important;
}
h1 {
  font-size: 70px;
  letter-spacing: 8px;
}
h2 {
  font-size: 20px;
  letter-spacing: 5px;
  margin: 0px;
  padding: 30px;
}
button {
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin: 20px;
  padding: 10px 30px;
}
button a {
  all: unset;
}
p {
  margin-top: 10px;
}
button:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.gallery {
  display: grid;
  grid-template-rows: 300px 250px 250px;
  margin: 0 auto;
  max-width: 60%;
  text-align: center;
}
img {
  filter: grayscale(100%);
}
footer {
  font-size: 12px;
  margin-top: 50px;
  opacity: 0.3;
  text-align: center;
}
footer a {
  color: white;
}
